.icon {
  background-image: var(--icon-url);
  mask-image: var(--icon-url);
  -webkit-mask-image: var(--icon-url);
  background: currentColor;
  mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  display: block;
}