.--padding {
    padding: 0 var(--padding-300);
}

.--height {
    height: var(--height-header-section);
}

.active {
    background-color: var(--blue-200);
}

.header {
    composes: --padding;
    composes: --height;
    display: flex;
    flex-direction: row;
}

.section {
    composes: --height;
    display: flex;
    border-bottom: 1px solid var(--br-main-dark);
}

