.active {
  background-color: var(--blue-200);
}

.header {
  height: var(--height-header-section);
  padding: 0 var(--padding-300);
  display: flex;
  flex-direction: row;
}

.section {
  padding: 0 var(--padding-300);
  display: flex;
  border-bottom: 1px solid var(--br-main-dark);
}

.asideWrapper {
  height: var(--height-300);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-top: 1px solid var(--br-main-dark);
}

//.img {
//    &Wrapper {
//        flex-basis: 16.666%;
//        height: var(--height-300);
//        display: flex;
//        justify-content: center;
//        align-items: center;
//    }
//
//    &Svg {
//        width: 26px;
//        height: 26px;
//    }
//
//    &Path {
//        fill: currentColor;
//    }
//}

.imgWrapper {
  flex-basis: 16.666%;
  height: var(--height-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSvg {
  width: 26px;
  height: 26px;
}

.logo {
  width: 20px;
  height: 20px;
}

.profile {
  width: 32px;
  height: 32px;
}

.imgPath {
  fill: currentColor;
}

.logoWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  flex-basis: calc(50% - var(--width-logo-100) / 2);
}

.logo {
  flex-basis: calc(50% + var(--width-logo-100) / 2);
  max-width: var(--width-logo-100);
}